@{
    ViewData["Title"] = "智能小车控制面板";
}
@section Css{
    <link href="~/css/car.css" rel="stylesheet" />
}
<div class="text-center">
    <h5 class="display-4">控制面板</h5>
    <p>温度:<span id="wd">35°C</span> 湿度:<span id="sd">50%</span></p>
</div>
<ul class="Switch">
    <li>
        <input type="checkbox" name="Storage" id="csb" onclick="KZCSB(this)" />
        超声波
        <label for="csb"><em></em></label>
    </li>
    <li>
        <input type="checkbox" name="Storage2" id="bz" onclick="KZBZ(this)" />
        红外避障
        <label for="bz"><em></em></label>
    </li>
    <li>
        <input type="checkbox" name="Storage2" id="wf" onclick="KZWIFIYK(this)" checked="checked" />
        WiFi遥控
        <label for="wf"><em></em></label>
    </li>
    <li>
        <input type="checkbox" name="Storage2" id="hw" onclick="KZHWYK(this)" />
        红外遥控
        <label for="hw"><em></em></label>
    </li>
</ul>

<div id="move" class="control-wrapper">
    <div class="control-btn control-top" id="up" onclick="carmove(this,'up')">
        <i class="fa fa-chevron-up">∧</i>
        <div class="control-inner-btn control-inner"></div>
    </div>
    <div class="control-btn control-left" id="left" onclick="carmove(this,'left')">
        <i class="fa fa-chevron-left"><</i>
        <div class="control-inner-btn control-inner"></div>
    </div>
    <div class="control-btn control-bottom" id="down" onclick="carmove(this,'down')">
        <i class="fa fa-chevron-down">∨</i>
        <div class="control-inner-btn control-inner"></div>
    </div>
    <div class="control-btn control-right" id="right" onclick="carmove(this,'right')">
        <i class="fa fa-chevron-right">＞</i>
        <div class="control-inner-btn control-inner"></div>
    </div>
    <div class="control-round" id="pause" onclick="carmove(this,'pause')">
        <div class="control-round-inner">
            <i class="fa fa-pause-circle">P</i>
        </div>
    </div>
</div>
<div class="c-box" style="margin-bottom:10px">
    <div id="downleft" class="c-left" onclick="carmove(this,'downleft')">
        <h5 style="text-align:center;margin-top:10px;">左后转</h5>
    </div>
    <div id="downright" class="c-right" onclick="carmove(this,'downright')">
        <h5 style="text-align:center;margin-top:10px;">右后转</h5>
    </div>
</div>
<div class="c-box">
    <div class="c-left">
        <h5 style="text-align:center;margin-top:10px;">超声波数据</h5>
        <p id="csbdata" style="color:Red;text-align:center"></p>
    </div>
    <div class="c-right">
        <h5 style="text-align:center;margin-top:10px;">红外避障数据</h5>
        <p id="bzdata" style="color:Red;text-align:center"></p>
    </div>
</div>

<div>
    <label class="demo--label">
        <input class="demo--radio" type="radio" name="demo-radio"  value="0.4">
        <span class="demo--radioInput"></span>40
    </label>
    <label class="demo--label">
        <input class="demo--radio" type="radio" name="demo-radio" value="0.6">
        <span class="demo--radioInput"></span>60
    </label>
    <label class="demo--label">
        <input class="demo--radio" type="radio" name="demo-radio" checked="checked" value="0.8">
        <span class="demo--radioInput"></span>80
    </label>
    <label class="demo--label">
        <input class="demo--radio" type="radio" name="demo-radio" value="1.0">
        <span class="demo--radioInput"></span>100
    </label>
</div>

@section Scripts{
    <script src="~/js/signalr.js"></script>
    <script>
        var iscsb = '@ViewBag.IsCSB';
        var isbz = '@ViewBag.IsBZ';
        var iswf = '@ViewBag.IsWF';
        var ishw = '@ViewBag.IsHW';
        var isup = '@ViewBag.IsUP';
        var isdown = '@ViewBag.IsDown';
        var isleft = '@ViewBag.IsLeft';
        var isright = '@ViewBag.IsRight';
        var isdownleft = '@ViewBag.IsDownLeft';
        var isdownright = '@ViewBag.IsDownRight';
        var ispause = '@ViewBag.IsPause';
        $(document).ready(function () {
            if (iscsb=="start") {
               $("#csb").prop("checked",true);
            } else {
               $("#csb").prop("checked", false);
            }
            if (isbz=="start") {
               $("#bz").prop("checked",true);
            } else {
               $("#bz").prop("checked", false);
            }
            if (iswf == "start") {
               $("#wf").prop("checked",true);
            } else {
               $("#wf").prop("checked", false);
            }
            if (ishw == "start") {
                $("#hw").prop("checked", true);
                $("#hw").attr("disabled", "disabled");
            }
            if (isup == "start") {
                $("#up").siblings('div').removeClass('CarClick');
                $("#up").addClass('CarClick');
            }
            if (isdown == "start") {
                $("#down").siblings('div').removeClass('CarClick');
                $("#down").addClass('CarClick');
            }
            if (isleft == "start") {
                $("#left").siblings('div').removeClass('CarClick');
                $("#left").addClass('CarClick');
            }
            if (isright == "start") {
                $("#right").siblings('div').removeClass('CarClick');
                $("#right").addClass('CarClick');
            }
            if (ispause == "start") {
                $("#pause").siblings('div').removeClass('CarClick');
                $("#pause").addClass('CarClick');
            }
        });

        // 控制超声波
        function KZCSB(th) {
            if ($(th).is(':checked')) {
                $.get("/Hcsr04/Hcsr04On", function (data) {
                    iscsb = 'start';
                    console.log(data);
                });
            } else {
                $.get("/Hcsr04/Hcsr04Off", function (data) {
                    $("#csbdata").empty();
                    iscsb = "stop";
                    console.log(data);
                });
            }
        }
        // 控制红外避障
        function KZBZ(th) {
            if ($(th).is(':checked')) {
                $.get("/HJIR2/HJIR2On", function (data) {
                    isbz = "start";
                    console.log(data);
                });
            } else {
                $.get("/HJIR2/HJIR2Off", function (data) {
                    $("#bzdata").empty();
                    isbz = "stop";
                    console.log(data);
                });
            }
        }
        // wifi遥控
        function KZWIFIYK(th) {
            if ($(th).is(':checked')) {
                $.get("/L298N/Start", function (data) {
                    iswf = "start";
                    console.log(data);
                });
            } else {
                $.get("/L298N/Stop", function (data) {
                    iswf = "stop";
                    console.log(data);
                });
            }
        }
        // 红外遥控
        function KZHWYK(th) {
            if ($(th).is(':checked')) {
                $.get("/HX1838/Start", function (data) {
                    ishw = "start";
                    $(th).attr("disabled", "disabled");
                    console.log(data);
                });
            } else {
                //$.get("/HX1838/Stop", function (data) {
                //    ishw = "stop";
                //    console.log(data);
                //});
            }
        }

        // 小车移动
        function carmove(th, type) {
            if (iswf == "start") {
                var speed = $("input[name='demo-radio']:checked").val();
                switch (type) {
                    case "up":
                        $.get("/L298N/Up?speed="+speed, function (data) {
                            console.log(data);
                        });
                        break;
                    case "down":
                        $.get("/L298N/Down?speed="+speed, function (data) {
                            console.log(data);
                        });
                        break;
                    case "left":
                        $.get("/L298N/Left?speed="+speed, function (data) {
                            console.log(data);
                        });
                        break;
                    case "right":
                        $.get("/L298N/Right?speed=" + speed, function (data) {
                            console.log(data);
                        });
                        break;
                    case "downleft":
                        $.get("/L298N/DownLeft?speed="+speed, function (data) {
                            console.log(data);
                        });
                        break;
                    case "downright":
                        $.get("/L298N/DownRight?speed="+speed, function (data) {
                            console.log(data);
                        });
                        break;
                    case "pause":
                        $.get("/L298N/Pause", function (data) {
                            console.log(data);
                        });
                        break;
                }
                $(th).siblings('div').removeClass('CarClick');
                $(th).addClass('CarClick');
            }
        }

        function setstop() {
            isup = "stop";
            isdown = "stop";
            isleft = "stop";
            isright = "stop";
            ispause = "stop";
        }

        // signalR 接受传感器数据
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        connection.on("ReceiveMessage", function (type, msg) {
            switch (type) {
                case "1":
                    $("#csbdata").text(msg);
                    break;
                case "2":
                    $("#bzdata").text(msg);
                    break;
                case "3":
                    console.log(msg);
                    break;
                case "4":
                    var data = msg.split('#');
                    if (data.length == 2) {
                        $("#wd").text(data[0]);
                        $("#sd").text(data[1]);
                    }
                    break;
                case "30":
                    console.log(msg);
                    break;
                case "31":
                    console.log(msg);
                    break;
                case "50":
                    $("#csb").prop("checked", true);
                    iscsb = "start";
                    break;
                case "51":
                    $("#csb").prop("checked", false);
                    $("#csbdata").empty();
                    iscsb = "stop";
                    break;
                case "60":
                    $("#bz").prop("checked", true);
                    isbz = "start";
                    break;
                case "61":
                    $("#bz").prop("checked", false);
                    $("#bzdata").empty();
                    isbz = "stop";
                    break;
                case "40":
                    $("#wf").prop("checked", true);
                    iswf = "start";
                    break;
                case "41":
                    $("#wf").prop("checked", false);
                    $("#up").siblings('div').removeClass('CarClick');
                    iswf = "stop";
                    setstop();
                    break;
                case "42":
                    $("#up").siblings('div').removeClass('CarClick');
                    $("#up").addClass('CarClick');
                    $("#downleft").removeClass('CarClick');
                    $("#downright").removeClass('CarClick');
                    break;
                case "43":
                    $("#down").siblings('div').removeClass('CarClick');
                    $("#down").addClass('CarClick');
                    $("#downleft").removeClass('CarClick');
                    $("#downright").removeClass('CarClick');
                    break;
                case "44":
                    $("#left").siblings('div').removeClass('CarClick');
                    $("#left").addClass('CarClick');
                    $("#downleft").removeClass('CarClick');
                    $("#downright").removeClass('CarClick');
                    break;
                case "45":
                    $("#right").siblings('div').removeClass('CarClick');
                    $("#right").addClass('CarClick');
                    $("#downleft").removeClass('CarClick');
                    $("#downright").removeClass('CarClick');
                    break;
                case "46":
                    $("#pause").siblings('div').removeClass('CarClick');
                    $("#pause").addClass('CarClick');
                    $("#downleft").removeClass('CarClick');
                    $("#downright").removeClass('CarClick');
                    break;
                case "47":
                    $("#move").children('div').removeClass('CarClick');
                    $("#downleft").addClass('CarClick');
                    break;
                case "48":
                    $("#move").children('div').removeClass('CarClick');
                    $("#downright").addClass('CarClick');
                    break;
                case "70":
                    $("#hw").prop("checked", true);
                    $("#hw").attr("disabled", "disabled");
                    ishw = "start";
                    break;
                case "71":
                    $("#hw").prop("checked", false);
                    ishw = "stop";
                    break;
                default:
                    break;
            }
        });

        connection.start().then(function () { }).catch(function (err) {
            return console.error(err.toString());
        });

        connection.onclose(async () => {
            $("#csbdata").empty();
            $("#bzdata").empty();
            console.info('监听到链接关闭');
            await start();
        });

        async function start() {
            try {
                await connection.start();
                console.log("connected");
            } catch (err) {
                console.log(err);
                setTimeout(() => start(), 5000); // 断线重连
            }
        };
    </script>
}
